* {
    font-family: 'FiraCode Nerd Font', sans-serif;
    font-size: 10px;
    min-height: 0;
}

/*
*/
window#waybar {
    background: rgba(0,0,0,0);
    border: 2px solid rgba(0,0,0,0);
    border-bottom: 0px solid rgba(0,0,0,0);
    color: rgb(10, 9, 8);
}

#battery, #window, #clock, #system, #keyboard, #hardware, #external-ip {
    margin: 5px;
    padding: 0 5px;
    background-color: rgba(255,196,79,3);
    border: 1px solid rgb(10,9,8);
    border-radius: 15px;
}


#clock #external-ip {
    background-color: rgba(255,196,79,3);
    border: 1px solid #2D353B;
    color: #2D353B;
    font-weight: bold;
}

#workspaces {
    margin-right: 10px;
    color: #2D353B;
}

#workspaces button {
    border: none;
    color: rgb(237, 229, 221);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}

#workspaces button.active {
    background-color: rgba(255,196,79,3);
    color: rgb(10,9,8);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 1px solid #0a0908;
    opacity: 1;
}

#workspaces button.focused {
    background-color: rgba(255,196,79,3);
}

#workspaces button:hover {
    font-weight: bold;
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgb(255, 200, 133);
    border: none;
    color: rgb(10,9,8);
}

#keyboard-state {
    margin-right: 7px;
}

#custom-wlogout {
    margin-left: 7px;
    padding: 0 15px;
    background-color: rgba(255,196,79,3);
    border-radius: 25px;
    color: #2D353B;
}
